.post-content {
  line-height: 1.5;
  max-width: 120rem;
}

.post__container {
  width: 80%;
  margin: 0 auto;
}

.btn__container {
  display: flex;
  gap: 4px;
}

.btn {
  background: rgb(250, 202, 188);
  text-decoration: none;
  border: unset;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(136, 136, 136);
  padding: 12px 24px;
}
